---
layout: default
title: Blog
published: true
logo: /assets/img/blog_main_logo.png
<!--logo_desc: <a href="https://phdcomics.com/comics/archive.php?comicid=971">Source</a>-->
---
Under construction ...
{% for post in site.posts %}
{% if post.type=='blog' %}
    <small>{{ post.date | date: "%-d %B %Y" }}</small>
    <h2 style="margin:5px 0 5px 0;padding:0"><a href="{{ post.url }}">{{ post.post_title }}</a></h2>
    <p style="margin:4px 0 0 0;padding:0"><i>{{ post.authors }}</i></p>


    {{ post.summary }}

    <br><br>
    <hr>
{% endif %}

{% endfor %}

