## Updates

<ul>
  <li>Defended my Ph.D. thesis!</li>
  <li>Late-breaking demo paper accepted at ISMIR 2022 <a href="https://youtu.be/1Y8wDZfuaKU">[video]</a> </li>
</ul>
<a id="toggle-news">Older Updates</a>
<ul id="extra-news" style="display:none;">
  <li>Presented our work on perceived emotion in expressive piano performances at ISMIR 2021 <a href="https://youtu.be/mrF-smEyIMw">[video]</a> </li>
  <li>Passed my pre-defense colloquium! <a href="assets/pdf/Colloquium_2021-09-30.pdf">[slides]</a></li>
  <li>Gave a talk at <a href="https://maplelab.net/">MAPLE lab, McMaster University</a> titled "Towards Better Features for Music Emotion Recognition: A Machine Learning Approach" <a href="assets/pdf/McMasterLabPresentation_2021-08-19_final.pdf">[slides]</a></li>
  <li>Presented our work on two-level explanations with sound sources and mid-level features at SMC 2021 <a href="https://arxiv.org/abs/2106.07787">[paper]</a> </li>
  <li>Presented our work on domain adaptation of perceptual features in music at ICASSP 2021 <a href="https://arxiv.org/abs/2102.13479">[paper]</a></li>
</ul>

<script>
  document.getElementById('toggle-news').addEventListener('click', function() {
    var extraNews = document.getElementById('extra-news');
    extraNews.style.display = extraNews.style.display === 'none' ? 'block' : 'none';
    // this.textContent = this.textContent === 'Older Updates' ? 'Hide Older Updates' : 'Older Updates';
  });
</script>


<!--**August 19, 2021**: Gave a talk at <a href="https://maplelab.net/">MAPLE lab, McMaster University</a>titled "Towards Better Features for Music Emotion Recognition: A Machine Learning Approach". [[slides]](assets/pdf/McMasterLabPresentation_2021-08-19_final.pdf)-->

<!--**June 30, 2021**: Presented our work on two-level explanations with sound sources and mid-level features at SMC 2021. [[paper]](https://arxiv.org/abs/2106.07787)-->

<!--**June 10, 2021**: Presented our work on domain adaptation of perceptual features in music at ICASSP 2021. [[paper]](https://arxiv.org/abs/2102.13479)-->