<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://kit.fontawesome.com/8ea6e86003.js" crossorigin="anonymous"></script>

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
<!--    &lt;!&ndash; Global site tag (gtag.js) - Google Analytics &ndash;&gt;-->
<!--	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144561544-1"></script>-->
<!--	<script>-->
<!--  	window.dataLayer = window.dataLayer || [];-->
<!--  	function gtag(){dataLayer.push(arguments);}-->
<!--  	gtag('js', new Date());-->

<!--  	gtag('config', 'UA-144561544-1');-->
<!--	</script>-->
      <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-M3C6GYX5CW"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-M3C6GYX5CW');
        </script>
<!-- Mathjax Support -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
  </head>
  <body>
    <div class="wrapper">
      <header class="side-header">
<!--	      {% if page.is_home_page %}-->
<!--            <h1 class="site-title title-center"><a href="{{ '/' | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>-->
<!--          {% else %}-->
<!--            <h1><a href="#">{{ page.title }}</a></h1>-->
<!--	      {% endif %}-->
          {% if page.is_home_page %}
	      	<img class="sitelogo" src="{{page.logo}}" alt="Site Logo" />
          {% else %}
            <img class="pagelogo" src="{{page.logo}}" alt="Site Logo" />
          {% endif %}

<!--	      {% if page.logo %}-->
<!--            <img style="display:block; margin:auto" src="{{page.logo | relative_url}}" alt="Page Logo" />-->
<!--            <small>{{ page.logo_desc }}</small>-->
<!--	      {% else %}-->
<!--	      	<img class="sitelogo" src="{{site.logo | relative_url}}" alt="Site Logo" />-->
<!--        {% endif %}-->

        <br>
        <br>
        {% if page.is_home_page %}
<!--        <a rel="me" href="https://twitter.com/shreyan_ch"><img style="margin: 0 5px 0 0" width="25" height="25" src="/assets/img/twitter.svg"></a>-->
<!--        <a rel="me" href="https://scholar.google.com.au/citations?user=WGjp-vYAAAAJ&hl=en"><img style="margin: 0 5px" width="25" height="25" src="/assets/img/scholar.png"></a>-->
<!--        <a rel="me" href="https://www.linkedin.com/in/shreyan-chowdhury"><img style="margin: 0 5px" width="25" height="25" src="/assets/img/linkedin.png"></a>-->
<!--        <a rel="me" href="https://www.soundcloud.com/shreyan-chowdhury"><img style="margin: 0 5px" width="25" height="25" src="/assets/img/soundcloud.svg"></a>-->
<!--        <br><br>-->
<!--        <hr>-->
<!--          <p class="my-links title-center">-->
<!--          <a href="/assets/pdf/Resume_PostDoc_2023-02-20.pdf" target="_blank">CV</a> | <a href="https://scholar.google.com.au/citations?user=WGjp-vYAAAAJ&hl=en" target="_blank">Google Scholar</a> | <a href="https://epub.jku.at/obvulihs/content/titleinfo/8165733/full.pdf" target="_blank">PhD Thesis</a><br>-->
              <div style="font-size: larger; text-align: center; margin-top: -0.5em">
                <table style="width: 100%;">
                <tr><td><a href="https://sigmoid.social/@shreyan" target="_blank"><i class="fa-brands fa-mastodon"></i></a></td> <td><a href="https://twitter.com/shreyan_ch" target="_blank"><i class="fa-brands fa-twitter"></i></td> </a>
              <td><a href="https://www.linkedin.com/in/shreyan-chowdhury/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></td> <td><a href="https://github.com/shreyanc" target="_blank"><i class="fa-brands fa-github"></i></a></td>
                </tr>
                </table>

            </div>
<!--          </p>-->
          <br>
        <!--<p class="view"><a href="/apad.html">A Paper a Day</a></p>
        <p class="view"><a href="/projects.html">Projects</a></p>
        <p class="view"><a href="/cv.html">My CV</a></p>-->
<!--        <p class="view"><a href="#updates">What I've been up to</a></p>-->
        <p class="view"><a href="index">Home</a></p>
        <p class="view"><a href="aboutme">About Me</a></p>
        <p class="view"><a href="assets/pdf/Resume_PostDoc_2023-02-20.pdf" target="_blank">CV</a></p>
<!--        <p class="view"><a href="aboutme">self.process(life)</a></p>-->
<!--        <p class="view"><a href="#publications">Publications</a></p>-->
<!--        <p class="view"><a href="/blog_home.html">Resources for students</a></p>-->
<!--        <p class="view"><a href="/blog_home.html">Teaching/Mentoring</a></p>-->
<!--        <p class="view"><a href="/blog_home.html">Sound Science (Blog)</a></p>-->

        {% else %}
          <a href='/'>Home</a>

<!--        <hr>-->
<!--        <p class="view"><a href="/">Home</a></p>-->
          {% if page.parent %}
            <p class="view"><a href={{ page.parent }}>Back</a></p>
          {% endif %}

        {% endif %}



      </header>
      <section>

      {{ content }}

      </section>
<!--      <footer>-->
<!--        {% if site.github.is_project_page %}-->
<!--        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>-->
<!--        {% endif %}-->
<!--        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>-->
<!--      </footer>-->
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
